<footer class="footer">
  <div class="content has-text-centered">
    <p>
			Numenera source books content © Monte Cook Games; Original content © David Acevedo
    </p>
		<p>
			Numenera and its logo are trademarks of Monte Cook Games, LLC in the U.S.A. and other countries. All Monte Cook Games characters and character names, and the distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC. Content derived from Monte Cook Games publications is © 2013-2020 Monte Cook Games, LLC. <a href="{{ site.url}}/disclaimer" class="grey-link"><u> full disclaimer </u></a>
		</p>
  </div>
</footer>