a .grey-link {
  
}
.center {
  
}

#tab-content p {
  display: none;
}

#tab-content p.is-active {
  display: block;
}
.add_left_margin {
  //ml-6
  margin-left: 3.5rem;
}
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-left: 3px solid #ccc;
}

blockquote p {
  display: inline;
}

/* Animation */

.with-background:before {
  background: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.5)),
              url(../../assets/images/Numenera_Pyramid_sm.jpg);
  content: "";
  background-size: cover;
  position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  z-index: -1;
};