a .grey-link {
  
}
.center {
  
}

#tab-content p {
  display: none;
}

#tab-content p.is-active {
  display: block;
}
.add_left_margin {
  //ml-6
  margin-left: 3.5rem;
}
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-left: 3px solid #ccc;
}

blockquote p {
  display: inline;
}

/* Animation */