<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"> -->
		<link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/bulma.css">
		<script src="{{ site.url}}/assets/javascripts/navbar.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </head>
  <body>
		{% include header.html %}
		<div class="container is-widescreen">
			<ul class="steps has-content-centered is-vertical">
			  <div class="steps-segment">
			    <span class="steps-marker"></span>
			    <div class="steps-content">
			      <p class="is-size-4">Choose Type</p>
			      <p>What kind of role does your character fill?</p>
			    </div>
				</div>
			  <div class="steps-segment">
			    <span class="steps-marker"></span>
			    <div class="steps-content">
			      <p class="is-size-4">Choose Descriptor</p>
			      <p>What adjetive describes your character?</p>
			    </div>
				</div>
			  <div class="steps-segment is-active">
			    <span class="steps-marker"></span>
			    <div class="steps-content">
			      <p class="is-size-4">Choose Focus</p>
			      <p>What amazing thing can your character do?</p>
			    </div>
				</div>
			  <div class="steps-segment">
			    <span class="steps-marker"></span>
			    <div class="steps-content">
			      <p class="is-size-4">Choose Type Abilities</p>
			      <p>Choose 2 abilities your Type confers.</p>
			    </div>
				</div>
			  <div class="steps-segment">
			    <span class="steps-marker"></span>
			    <div class="steps-content">
			      <p class="is-size-4">The Rest</p>
			      <p>Resolve Skill choices, Starting Equipment and Starting Connections.</p>
			    </div>
				</div>
			</ul>
			{{ content }}		
		</div>
		{% include footer.html %}
  </body>
</html>